.adding-field__input{
    height: 100%;
    border-radius: 6px;
    background-color: white;
    border-color: #e2e7ff;
}

.adding-field__error{
  font-size: 10px;
  color: red;
}

.adding-field__input-container{
  display: flex;
  flex-direction: column;
  width: 90%;
  border-radius: 6px;
  background-color: white;
}

.adding-field__container{
    display: flex;
    justify-content: center;
    height: 50px;
}

.adding-field__container button{
  
  margin-left: 20px;
  background-color: whitesmoke;
  border: 1px solid grey;
  color: rgb(20, 20, 20);
  padding: 5px 25px;
  font-size: 16px;
  cursor: pointer;
  border-radius: 10px;
  margin: 10px 10px;

}